.control-panel {
  background-color: #ebebeb;
  bottom: 0;
  box-shadow:0 0 3px 4px rgba(0, 0, 0, 0.13);
  left: 2%;
  max-width: 560px;
  min-width: 368px;
  opacity: 0.92;
  padding: 1%;
  position: absolute;
  text-align: center;
  width: 44%;
  .btn{
    margin: 1% 2% 2% 1%;
    min-width: 165px;
    width: 45%;
    padding: 2% 4%;
  }
}

.speed-wrapper{
  margin-bottom:7px;

  .speed-display-outer{
    min-width:100px;
    min-height:20px;
    .speed-label, .speed-display, .unit-label{
      display:inline-block;
      margin-right:2px;
    }
    .speed-label {
      color: #666666;
      font-size: 9px;
      font-style: italic;
      margin-right: 8px;
    }
    .speed-display, .unit-label{
      font-weight: bold;
    }
    .unit-label{
      font-size:10px;
    }
  }

  .speed-slider {
    margin-top: 6px;
  }
}